In [1]:
import pandas as pd
import numpy as np

In [96]:
dataset = pd.read_csv("Melbourne_housing_FULL.csv")

In [73]:
dataset.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [97]:
col = ['Suburb',  'Rooms', 'Type','Method', 'SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car',
       'Landsize', 'BuildingArea',"Price"]
dataset=dataset[col]
dataset.columns
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [75]:
dataset.shape

(34857, 15)

In [98]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [99]:
col_to_zero = ['Propertycount','Distance','Bedroom2',"Bathroom",'Car']
dataset[col_to_zero] = dataset[col_to_zero].fillna(0)

In [78]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [100]:
#fill na with other empty values
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())
dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [80]:
#See Independant features 
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [101]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [82]:
dataset.shape

(27244, 15)

In [20]:
#encoders
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,160.2564,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0000,1035000.0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0000,1465000.0
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,94.0,160.2564,850000.0
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,1.0,2.0,120.0,142.0000,1600000.0

In [103]:
dummies1 = pd.get_dummies(dataset.Suburb)
dummies2 = pd.get_dummies(dataset.Type)
dummies3 = pd.get_dummies(dataset.Method)
dummies4 = pd.get_dummies(dataset.SellerG)
dummies5 = pd.get_dummies(dataset.Regionname)
dummies6 = pd.get_dummies(dataset.CouncilArea)
dataset = pd.concat([dataset,dummies1,dummies2,dummies3,dummies4,dummies5,dummies6],axis='columns')
dataset
dataset = dataset.drop(['Suburb','viewbank','Type','h','Method','S','SellerG','Biggin','Regionname','Northern Metropolitan','CouncilArea','Yarra City Council'], axis='columns')

In [104]:
dataset.shape

(27244, 745)

In [110]:
x= dataset.drop("Price",axis=1)
y=dataset['Price']

In [111]:
x.isna().sum()

Rooms                         0
Propertycount                 0
Distance                      0
Bedroom2                      0
Bathroom                      0
                             ..
Stonnington City Council      0
Whitehorse City Council       0
Whittlesea City Council       0
Wyndham City Council          0
Yarra Ranges Shire Council    0
Length: 744, dtype: int64

In [112]:
from sklearn.model_selection import train_test_split
train_x , test_x, train_y, test_y = train_test_split(x,y,test_size=0.3, random_state=2)

In [68]:
train_x.isna().sum()

Rooms                         0
Propertycount                 0
Distance                      0
Bedroom2                      0
Bathroom                      0
                             ..
Stonnington City Council      0
Whitehorse City Council       0
Whittlesea City Council       0
Wyndham City Council          0
Yarra Ranges Shire Council    0
Length: 794, dtype: int64

In [113]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_x,train_y)

In [114]:
reg.score(test_x,test_y)

0.1387125960959501

In [115]:
reg.score(train_x,train_y)

0.6827792395792723

In [118]:
#L1 Regulariaztion

from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50,max_iter=100,tol = 0.1)
lasso_reg.fit(train_x,train_y)

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1328131194316487.0, tolerance: 796258688308222.8
  positive)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [119]:
lasso_reg.score(test_x,test_y)

0.6635736879835028

In [122]:
#ridge regression L2 reguraslization  
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 50,max_iter = 100,tol = 0.1)
ridge = ridge_reg.fit(train_x,train_y)

In [123]:
ridge.score(test_x,test_y)

0.6671776218329446